<h1>Create a new top five!</h1>
<br>

<form class="" action="/lists" method="post">

	<label>Topic:</label>
	<input type="text" name="topic_name" value="<%= @topic.name if @topic %>">
	<br><br>

	<% (1..5).each do |n| %>
		<label>Top <%= n %>:</label>
		<textarea name="contents[]" rows="2" cols="25"></textarea>
		<br><br>
	<% end %>

	<input type="submit" value="submit">
</form>
