<h1><%= @topic.name %></h1>

<ul>
	<% @topic.lists.each do |list| %>
	<h2><%= list.user.username %></h2>
	<ul>
		<% list.arrayed_contents.each.with_index(1) do |c, i| %>
			<li><%= i %>. <%= c %></li>
		<% end %>
	</ul>
	<% end %>
</ul>
