.lists:hover {
	cursor: pointer;
	background-color: #f5f8fa;
}

.links {
	text-decoration: none;
	color: #385898;
	margin: 8px auto;
}

.links:hover {
	text-decoration: underline;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
	background-color: #111;
}
