<h1>Sign up page</h1>
<br>

<form class="" action="/signup" method="post">

	<label for="name">Name:</label>
	<input id="name" type="text" name="name">
	<br><br>

	<label for="username">Username:</label>
	<input id="username" type="text" name="username">
	<br><br>

	<label for="password">Password:</label>
	<input id="password" type="password" name="password">
	<br><br>

	<input type="submit" value="Sign up">
</form>
<br>

<p>Already signed up? <a href="/">Log in here</a></p>
