<h1>Welcome to Top Five!</h1>
<br>

<form class="" action="/login" method="post">

	<label for="username">Username:</label>
	<input id="username" type="text" name="username">
	<br><br>

	<label for="password">Password:</label>
	<input id="password" type="password" name="password">
	<br><br>

	<input type="submit" value="Log in">
</form>
<br>

<p>Don't have an account yet? <a href="/signup">Sign up here</a></p>
